@font-face {
  font-family: 'IRANSansWeb';
  src: url('/src/assets/fonts/IRANSansWeb.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWeb_Bold';
  src: url('/src/assets/fonts/IRANSansWeb_Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWeb_Light';
  src: url('/src/assets/fonts/IRANSansWeb_Light.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWeb_Medium';
  src: url('/src/assets/fonts/IRANSansWeb_Medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================================================
   2. CSS Reset
   ========================================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'IRANSansWeb', sans-serif;
  padding: 0;
  min-height: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;

  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 1.6;

  color: var(--color-text);
  background-color: var(--color-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================================================
   3. Scrollbar
   ========================================================= */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: var(--radius-full);

  &:hover {
    background: #94a3b8;
  }
}

// Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

/* =========================================================
   4. Text Selection
   ========================================================= */

::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}
