<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <button class="btn btn-outline-primary me-2"
        (click)="onSelectedForm(1)">Version 1</button>
      <button class="btn btn-outline-primary me-2"
        (click)="onSelectedForm(2)">Version 2</button>
    </div>
  </div>
  @if (userForm && formDefinition) {
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <form
        [formGroup]="userForm"
        (ngSubmit)="onSubmit()"
        novalidate>
        <!-- Header -->
        <div class="mb-4">
          <h4 class="fw-semibold mb-1">
            {{ formDefinition.title }}
          </h4>
          <p
            class="text-muted border rounded-1 text-center bg-dark bg-dark-subtle mb-0">
            Version {{ formDefinition.version }}
          </p>
        </div>
        <!-- Controls -->
        <div class="row g-3">
          @for (
          control of formDefinition.controls;
          track control.id
          ) {
          <div
            [class]="'col-12 col-md-' +(control.width ?? 12)">
            <!-- Label -->
            @if (control.type !== 'checkbox') {
            <label
              [for]="control.key"
              class="form-label">
              {{ control.label }}
              @if (control.required) {
              <span class="text-danger">
                *
              </span>
              }
            </label>
            }
            <!-- TEXT -->
            @if (control.type === 'text') {
            <input
              [id]="control.key"
              type="text"
              class="form-control"
              [formControlName]="control.key"
              [placeholder]="
                      control.placeholder ?? ''
                    "
              [class.is-invalid]="
                      getControl(control.key)?.invalid &&
                      getControl(control.key)?.touched
                    " />
            }
            <!-- PASSWORD -->
            @if (control.type === 'password') {
            <input
              [id]="control.key"
              type="password"
              class="form-control"
              [formControlName]="control.key"
              [placeholder]="
                      control.placeholder ?? ''
                    "
              [class.is-invalid]="
                      getControl(control.key)?.invalid &&
                      getControl(control.key)?.touched
                    " />
            }
            <!-- EMAIL -->
            @if (control.type === 'email') {
            <input
              [id]="control.key"
              type="email"
              class="form-control"
              [formControlName]="control.key"
              [placeholder]="
                      control.placeholder ?? ''
                    "
              [class.is-invalid]="
                      getControl(control.key)?.invalid &&
                      getControl(control.key)?.touched
                    " />

            }
            <!-- PHONE -->
            @if (control.type === 'phone') {
            <input
              [id]="control.key"
              type="tel"
              class="form-control"
              [formControlName]="control.key"
              [placeholder]="
                      control.placeholder ?? ''
                    "
              [class.is-invalid]="
                      getControl(control.key)?.invalid &&
                      getControl(control.key)?.touched
                    " />
            }

            <!-- NUMBER -->
            @if (control.type === 'number') {
            <input
              [id]="control.key"
              type="number"
              class="form-control"
              [formControlName]="control.key"
              [class.is-invalid]="
                      getControl(control.key)?.invalid &&
                      getControl(control.key)?.touched
                    " />
            }

            <!-- TEXTAREA -->
            @if (control.type === 'textarea') {
            <textarea
              [id]="control.key"
              class="form-control"
              [formControlName]="control.key"
              rows="3"
              [placeholder]="
                      control.placeholder ?? ''
                    "
              [class.is-invalid]="
                      getControl(control.key)?.invalid &&
                      getControl(control.key)?.touched
                    "></textarea>
            }

            <!-- SELECT -->
            @if (control.type === 'select') {
            <select
              [id]="control.key"
              class="form-select"
              [formControlName]="control.key"
              [class.is-invalid]="
                      getControl(control.key)?.invalid &&
                      getControl(control.key)?.touched
                    ">
              <option [ngValue]="null">
                Select...
              </option>
              @for (
              option of control.options ?? [];
              track option.value
              ) {
              <option
                [ngValue]="option.value">
                {{ option.label }}
              </option>
              }
            </select>
            }

            <!-- CHECKBOX -->
            @if (control.type === 'checkbox') {
            <div class="form-check">
              <input
                [id]="control.key"
                type="checkbox"
                class="form-check-input"
                [formControlName]="control.key" />
              <label
                [for]="control.key"
                class="form-check-label">
                {{ control.label }}
              </label>
            </div>
            }

            <!-- VALIDATION -->
            @if (
            getControl(control.key)?.invalid &&
            getControl(control.key)?.touched
            ) {
            <div class="invalid-feedback d-block">
              @if (
              hasError(
              control.key,
              'required'
              )
              ) {
              {{ control.label }}is required.}
              @if (hasError(control.key,'email')) {
              Please enter a valid email.
              }
              @if (hasError(control.key,'maxlength')) {
              {{ control.label }} is too long.
              }
              @if (hasError(control.key,'minlength')) {
              {{ control.label }} is too short.
              }
              @if (hasError(control.key,'pattern')) {
              Invalid
              {{ control.label }}.
              }
            </div>
            }
          </div>
          }
        </div>
        <!-- Actions -->
        <div
          class="d-flex justify-content-end gap-2 mt-4 pt-3 border-top">
          <button
            type="button"
            class="btn btn-outline-secondary px-4"
            (click)="onCancel()">
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary px-4"
            [disabled]="userForm.invalid">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
  }
</div>
