.app-dialog-header{
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px !important;
    color: wheat;
    width: 100%;
    text-align: center;
}