.app-dialog-content{
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px !important;
    color: wheat;
    width: 100%;
    margin: 5px 0;
}